@model Usuario
<div>
    <h1>Perfil do Cliente</h1>
    <dl class="row">
        <dt class="col-sm-3">Nome</dt>
        <dd class="col-sm-9">@Model.nome</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.email</dd>

        <dt class="col-sm-3">Senha</dt>
        <dd class="col-sm-9">*********</dd>
    </dl>
    <button class="btn btn-primary" id="editProfileButton" data-id="@Model.idUsuario">Editar Perfil</button>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#editProfileButton').click(function () {
            var userId = $(this).data('id');
            $('#content').load('/Home/EditarPerfil/' + userId);
        });
    });
</script>
