<section id="home">
    <div class="div-button">
        <button type="button" class="button btn btn-primary btn-lg">SHOP NOW</button>
    </div>
</section>
<div class="marcas">
    <img src="./img/nike.png" alt="">
    <img src="./img/adidas.png" alt="">
    <img src="./img/puma.png" alt="">
    <img src="./img/jordan.png" alt="">
</div>
<section id="produtos">
    <div class="categoria futebol">
        <h2>FUTEBOL</h2>
        <div class="itens produtos-futebol">
            <div class="box">
                <img src="https://place-hold.it/300" alt="">
                <div class="text">
                    <h6>Camiseta Nike PSG Strike Masculina</h6>
                    <p>R$ 123,49</p>
                    <button class="button btn btn-primary btn-lg">Comprar</button>

                </div>
            </div>
            <div class="box">
                <img src="https://place-hold.it/300" alt="">
                <div class="text">
                    <h6>Camiseta Nike PSG Strike Masculina</h6>
                    <p>R$ 123,49</p>
                    <button class="button btn btn-primary btn-lg">Comprar</button>
                </div>
            </div>
            <div class="box">
                <img src="https://place-hold.it/300" alt="">
                <div class="text">
                    <h6>Camiseta Nike PSG Strike Masculina</h6>
                    <p>R$ 123,49</p>
                    <button class="button btn btn-primary btn-lg">Comprar</button>

                </div>
            </div>

        </div>
        <div class="categoria basquete">
            <h2>BASQUETE</h2>
            <div class="itens produtos-futebol">
                <div class="box">
                    <img src="https://place-hold.it/300" alt="">
                    <div class="text">
                        <h6>Camiseta Nike PSG Strike Masculina</h6>
                        <p>R$ 123,49</p>
                        <button class="button btn btn-primary btn-lg">Comprar</button>

                    </div>
                </div>
                <div class="box">
                    <img src="https://place-hold.it/300" alt="">
                    <div class="text">
                        <h6>Camiseta Nike PSG Strike Masculina</h6>
                        <p>R$ 123,49</p>
                        <button class="button btn btn-primary btn-lg">Comprar</button>

                    </div>
                </div>
                <div class="box">
                    <img src="https://place-hold.it/300" alt="">
                    <div class="text">
                        <h6>Camiseta Nike PSG Strike Masculina</h6>
                        <p>R$ 123,49</p>
                        <button class="button btn btn-primary btn-lg">Comprar</button>
                    </div>
                </div>

            </div>
</section>