:root {
    --primary-color: #005248;
    --secondary-color: #4B8178;
    --tertiary-color: #C3FCF2;
}

body {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

h3 {
    color: var(--primary-color);
}

.scrollable-column {
    max-height: 80vh;
    overflow-y: auto;
}

.fixed-column {
    position: sticky;
    top: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    opacity: 0.8;
}

.btn-outline-secondary {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.btn-outline-secondary:hover {
    background-color: var(--primary-color);
    color: white;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    opacity: 0.8;
}

.text-danger {
    color: red;
}

.btn-circle {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.form-control {
    max-width: 100px;
    text-align: center;
}