.product-title-detalhes {
    font-size: 2rem;
    font-weight: bold;
}

.product-description-detalhes {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.image-container-detalhes img {
    max-height: 500px;
    object-fit: contain;
}

.product-actions-detalhes {
    text-align: center;
}
