:root {
    --primary-color: #005248;
    --secondary-color: #4B8178;
    --tertiary-color: #C3FCF2;
    --highlight-color: #57d1bd;
    --highlight-hover-color: #C3FCF2;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.navbar, .sidebar {
    background-color: var(--secondary-color);
}

.navbar a.nav-link, .sidebar a.nav-link {
    color: var(--tertiary-color);
}

.navbar a.nav-link:hover, .sidebar a.nav-link:hover {
    background-color: var(--highlight-hover-color);
    color: var(--secondary-color);
}

.navbar-brand {
    color: var(--tertiary-color);
}

.table {
    background-color: var(--tertiary-color);
    border-radius: 5px;
    overflow: hidden;
}

.table th, .table td {
    border: 1px solid var(--secondary-color);
}

.table th {
    background-color: var(--highlight-color);
    color: var(--primary-color);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--highlight-hover-color);
}

.btn-primary {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
}

.btn-primary:hover {
    background-color: var(--highlight-hover-color);
    border-color: var(--highlight-hover-color);
    color: var(--primary-color);
}
